.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .input-group label {
    margin-right: 10px;
    width: 80px;
  }
  
  .input-group input, 
  .input-group textarea {
    flex-grow: 1;
    padding: 5px;
    font-size:large;
  }
  
  label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    font-size: large;
    font-weight: bold;
  }
  .button-container {
    display: flex;
    justify-content: center;
    transform: translateY(20px);
    transform: translateX(35px);
    width: 100%;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: black!important;
    color: white!important;
  }
  
  